ul{
background:rgb(0, 0, 0);
list-style-type: none;
position:fixed;
width:100%;
margin-top:-47px;
z-index:451;
}
    
.espacio__logo{
margin-left:80px
}
    
ul li{
display:inline-block;
}
    
ul li a{
color:white;
text-decoration: none;
padding: 13px 13px;
display:inline-block;
font-size:20px;
}
    
ul li a:hover{
background:rgb(61, 61, 61)
}
    
ul li a:active{
background:rgb(104, 104, 104)
}
*{
margin:0;
padding:0
}
        
body{
margin-top:40px;
overflow-x:hidden;
}


/* POPULAR 1 */

.Popular1{
display:flex;
width:100%;
margin-left: 2%;
padding-top: 2%;
}
.Popular1 h2{
    text-align: center;
    margin-bottom: 20px;
}
.Popular_texto{
width:40%;
margin-left:30px;
margin-top: 5%;
}

.Popular1 img{
width:30%;
}


/* POPULAR 2 */

.Popular2{
display:flex;
width:100%;
flex-direction: row-reverse;
margin-top:20px;
}
.Popular2 h2{
    text-align: center;
    margin-bottom: 20px;
}

.Popular2_txt{
width:40%;
margin-right:30px;
margin-top: 4%;
}



.Popular2 img{
width:30%;
margin-right: 2%;

}

/* POPULAR 3 */

.popular3{
display:flex;
width:100%;
margin-top:20px;
margin-left: 2%;
}
.popular3 h2{
    text-align: center;
    margin-bottom: 20px;
}

.Popular3_txt{
width:50%;
margin-left:30px;
margin-top: 3% ;
}

.popular3 img{
width:30%;

}

/* POPULAR 4 */

.popular4{
display:flex;
flex-direction: row-reverse;
width:100%;
}
.popular4 h2{
    text-align: center;
    margin-bottom: 20px;
}
.popular4_txt{
width:50%;
margin-right:30px;
margin-top:4% ;

}

.popular4 img{
width:30%;
height:250px;
margin-right: 2%;

}


/* POPULAR 5 */

.popular5{
display:flex;
width:100%;
margin-left: 2%;
}
.popular5 h2{
    text-align: right;
    margin-bottom: 20px;
}
.popular5_txt{
width:40%;
margin-left:30px;
margin-top:4% ;
}

.popular5 img{
width:30%;

}



/* POPULAR 6 */

.popular6{
display:flex;
flex-direction:row-reverse;
width:100%;
margin-left:0%;
}
.popular6 h2{
    text-align: left;
    margin-bottom: 20px;
}
.popular6_txt{
width:50%;
margin-right:30px;
margin-top:4% ;
padding-left: 0%;
}

.popular6 img{
width:30%;
margin-right: 2%;

}

/* POPULAR 7 */
.popular7{
display:flex;
width:100%;
margin-left: 2%;
margin-bottom: 40px;
}
.popular7 h2{
    text-align: center;
    margin-bottom: 20px;
}
.popular7_txt{
width:40%;
margin-left:30px;
margin-top:5% ;
}

.popular7 img{
width:30%;
}






h2 {
    color: rgb(0, 225, 255);
}

body{background:url(https://i.pinimg.com/originals/d6/0b/fb/d60bfb79b23c28a2b50270e2bf623ca7.jpg) no-repeat;
        background-size: cover;
        background-attachment:fixed;
        padding-left: 1em;
    }
p {
    color: white;
}

img{
    border-style: solid;
    border-color: rgb(0, 225, 255);
    
    }