ul{
background:rgb(0, 0, 0);
list-style-type: none;
position:fixed;
width:100%;
margin-top:-47px;
z-index:451;
}
        
.espacio__logo{
margin-left:80px
}
        
ul li{
display:inline-block;
}
        
ul li a{
color:white;
text-decoration: none;
padding: 13px 13px;
display:inline-block;
font-size:20px;
}
        
ul li a:hover{
background:rgb(61, 61, 61)
}
        
ul li a:active{
background:rgb(104, 104, 104)
}
*{
margin:0;
padding:0
}
            
body{
margin-top:40px;
overflow-x:hidden;
}

/*Imagenes y letras*/
.noticias1{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    
}
.noticias1 img{
    width: 30%;
    margin-left: 2%;
}
.noticias1_div {
    width: 40%;
    margin-top: 4%;
    margin-left: 5%;
}
.noticias1_div h2{
    text-align: center;
}
.noticias1_div p{
    margin-top:2%;
}

.noticias2{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}
.noticias2 img{
    width: 30%;
    margin-right: 2%;
}
.noticias2_div {
    width: 40%;
    margin-top: 2%;
    margin-right: 5%;
}
.noticias2_div h2{
    text-align: center;
}
.noticias2_div p{
    margin-top:10px;
}

.noticias3{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.noticias3 img{
    width: 30%;
    margin-left: 2%;
}
.noticias3_div {
    width: 40%;
    margin-top: 2%;
    margin-left: 5%;
}
.noticias3_div h2{
    text-align: center;
}
.noticias3_div p{
    margin-top:2%;
}

.noticias4{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}
.noticias4 img{
    width: 30%;
    margin-right: 2%;
}
.noticias4_div {
    width: 40%;
    margin-top: 2%;
    margin-right: 5%;
}
.noticias4_div h2{
    text-align: center;
}
.noticias4_div p{
    margin-top:10px;
}

.noticias5{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.noticias5 img{
    width: 30%;
    margin-left: 2%;
}
.noticias5_div {
    width: 40%;
    margin-top: 1%;
    margin-left: 5%;
}
.noticias5_div h2{
    text-align: center;
}
.noticias5_div p{
    margin-top:2%;
}

.noticias6{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}
.noticias6 img{
    width: 30%;
    margin-right: 2%;
}
.noticias6_div {
    width: 40%;
    margin-top: 4%;
    margin-right: 5%;
}
.noticias6_div h2{
    text-align: center;
}
.noticias6_div p{
    margin-top:10px;
}

.noticias7{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.noticias7 img{
    width: 30%;
    margin-left: 2%;
}
.noticias7_div {
    width: 40%;
    margin-top: 3%;
    margin-left: 5%;
}
.noticias7_div h2{
    text-align: center;
}
.noticias7_div p{
    margin-top:2%;
}


 
h2 {
    color:rgb(157, 233, 44);
}
body{
    background-image: url(https://fondosmil.com/fondo/19467.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p{
    color: white;
}

img{
    border-style: solid;
    border-color: greenyellow;
}

