
/*Estilos Noticias*/
.noticia1 {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 80px;
    margin-left: 2%;
    margin-bottom: 80px;

}
.noticia1 img{
    width: 30%; 
}

.noticia1_div {
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
}
.noticia1_div h2{
    text-align: center;
    color: royalblue;
    margin-bottom: 1%;
    margin-top: 1%;
}

.noticia1_div p{
    margin-top: 2%;
}

.noticia2{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-bottom: 40px;
}
.noticia2 img{
    width: 30%;
    margin-right: 2%;
}
.noticia2_div {
    font-size: 17px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:1%;
    width: 40%;
}
.noticia2_div p{
    margin-top: 2%;  
}
.noticia2_div h2{
    text-align: center;
    color: brown;
}



/* BARRA DE NAVEGACION */


ul{
background:rgb(0, 0, 0);
list-style-type: none;
position:fixed;
width:100%;
margin-top:-47px;
z-index:451;
}



ul li{
display:inline-block;
}

ul li a{
color:white;
text-decoration: none;
padding: 13px 13px;
display:inline-block;
font-size:20px;
}

ul li a:hover{
background:rgb(61, 61, 61)
}

ul li a:active{
background:rgb(104, 104, 104)
}

/* FONDO */

.portada{
background-image:url("fondoIndex/starflamer1.jpg");
background-size:100% 100%; 
width:100%;
height:500px;
display:flex;
align-items: center;
}

.espacios{
margin-left:15px;
width:35%;
border:2px solid white;
padding:20px
}

.portada h1{
font-size:70px;
color:white
}

.portada p{
font-size:22px;
color:white;

}


*{
margin:0;
padding:0;
font-family: 'Hammersmith One', sans-serif;
}


body{
margin-top:40px;
overflow-x:hidden;
}
/*estilos juegos populares*/

.juegospopulares1 {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
}
.juegospopulares1 img{
    width: 20%;
    margin-left: 2%; 
}

.juegospopulares_div1 {
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
}
.juegospopulares_div1 h2{
    text-align: center;
    color: red;
    margin-bottom: 1%;
    margin-top: 1%;
}

.juegos_populares_div1 p{
    margin-top: 2%;
}

.juegospopulares2{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-bottom: 60px;
    
}

.juegospopulares2 img{
    width: 20%;
    margin-right: 2%;
}

.juegospopulares_div2 {
    font-size: 17px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:1%;
    width: 40%;
}

.juegospopulares_div2 p{
    margin-top: 2%;  
}
.juegospopulares_div2 h2{
    text-align: center;
    color:rgb(0, 174, 255);
}
.noticiah2{
    text-align: center;
    font-size: 50px;
    font-family: 'Luckiest Guy', cursive;
    color:blueviolet
}



.juegospopulares1 img{
width:30%
}

.juegospopulares2 img{
width:30%
}

body{
background-color:rgb(34, 34, 34);
}

p{
color:white
}