ul{
background:rgb(0, 0, 0);
list-style-type: none;
position:fixed;
width:100%;
margin-top:-47px;
z-index:451;
}
                
.espacio__logo{
margin-left:80px
}
                
ul li{
display:inline-block;
}
                
ul li a{
color:white;
text-decoration: none;
padding: 13px 13px;
display:inline-block;
font-size:20px;
}
                
ul li a:hover{
background:rgb(61, 61, 61)
}
                
ul li a:active{
background:rgb(104, 104, 104)
}
*{
margin:0;
padding:0
}
                    
body{
margin-top:40px;
overflow-x:hidden;
}
           


.pip-2{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.pip-2 img{
    width: 27%;
    margin-top: 100px;
    margin-bottom: 40px;
}



.pip-1{

    width: 50%;
    margin-left: 2%;
}

.pip-1 h2{
    text-align: center;
    margin-top: 20px;

}


.pip-1 p{

    margin-top: 20px;
}


.pip-1 iframe{


    margin-left: 5%;
    margin-top: 30px;
}

