
ul{
background:rgb(0, 0, 0);
list-style-type: none;
position:fixed;
width:100%;
margin-top:-47px;
z-index:451;
}
                            
.espacio__logo{
margin-left:80px
}
                            
ul li{
display:inline-block;
}
                            
ul li a{
color:white;
text-decoration: none;
padding: 13px 13px;
display:inline-block;
font-size:20px;
}
                            
ul li a:hover{
background:rgb(61, 61, 61)
}
                            
 ul li a:active{
background:rgb(104, 104, 104)
}

ul{
    background:rgb(0, 0, 0);
    list-style-type: none;
    position:fixed;
    width:100%;
    margin-top:-47px;
    z-index:451;
    }
                
    .espacio__logo{
    margin-left:80px
    }
                
    ul li{
    display:inline-block;
    }
                
    ul li a{
    color:white;
    text-decoration: none;
    padding: 13px 13px;
    display:inline-block;
    font-size:20px;
    }
                
    ul li a:hover{
    background:rgb(61, 61, 61)
    }
                
    ul li a:active{
    background:rgb(104, 104, 104)
    }

*{
margin:0;
padding:0
}
            
body{
margin-top:40px;
}

.prototype1{
width:100%;
background-image: url(../imagenes/prototype.png);
background-size: 100% 100%;
background-color:rgb(255, 152, 152)
}

.prototype {
    width: 50%;
    margin-left: 2%;
}
.prototype h2{
    margin-top: 20px;
    text-align: center;
}
.prototype h3{
    margin-top: 20px;    
}

.prototype p{
    margin-top: 20px;
}

.prototype iframe{
    margin-left: 5%;
    margin-top: 20px;
}

.prototype_div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color:wheat
}
.prototype_div img{
    width:30%;
}   